@{
    ViewData["Title"] = "Add Property to Owner";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="text-center mt-5">@ViewData["Title"]</h2>

        <div class="mt-4">
            <form asp-action="SaveNewProperty" asp-controller="Admin" asp-route-email="@Model.email" asp-route-uuid="@Model.uuid" asp-route-condoname="condoname" asp-route-houseID="condo.houseID" method="post">
                <div class="mb-3">
                   
                    <input type="text" id="uuid" name="uuid" class="form-control" value="@Model.uuid" required Hidden />
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Owner Name:</label>
                    <div class="col-sm-5">
                        <input type="text" name="OwnerName" value="@Model.name" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Email:</label>
                    <div class="col-sm-5">
                        <input type="email" name="Email" value="@Model.email" class="form-control" readonly />
                    </div>
                </div>

                @if (Model.condodetail != null && Model.condodetail.Count > 0)
                {
                    @foreach (var condo in Model.condodetail)
                    {
                        <div class="border rounded p-3 mb-3">
                            <h5>Condo Details</h5>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Nombre Condo:</label>
                                <select id="txtcondo" name="condoname" class="form-control" required>
                                        @if (ViewBag.listaCondo != null)
                                        {
                                            foreach (var condominium in ViewBag.listaCondo)
                                            {
                                                <option value="@condominium.Name">@condominium.Name</option>
                                            }
                                        }
                                    </select>

                                     
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">House ID:</label>
                                <div class="col-sm-5">
                                    <input type="number" name="houseID" value="@condo.houseID" class="form-control" required />
                                </div>
                            </div>
                        </div>
                    } 
                }
                else
                {
                        <p class="text-muted text-center">No condo details available.</p>
                }

                <button type="submit" class="btn btn-success mt-4">Guardar nueva propiedad</button>
                <a asp-action="ManageOwner" asp-controller="Admin" asp-route-uuid="@Model.uuid" class="btn btn-secondary mt-4 ml-3">Volver</a>
            </form>
        </div>
    </div>
</body>
</html>

