@{
    ViewData["Title"] = "Manage Officers Page";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }
    <div class="container">
        <h2 class="text-center mt-5">@ViewData["Title"]</h2>
        
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Condominio asignado</th>
                       <th>Actions</th> 
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.officers != null && ViewBag.officers.Count > 0)
                    {
                        @foreach (var officer in ViewBag.officers)
                        {
                            <tr>
                                <td>@officer.name</td>
                                <td>@officer.email</td>
                                <td>@officer.condo</td>
                                @* <td>@condo.houseID</td> *@
                                <td>
                                    <a asp-action="Editofficer" asp-controller="Admin" asp-route-email="@officer.email" asp-route-uuid="@officer.uuid" class="btn btn-warning btn-sm">Actualizar Datos</a>
                                    <a asp-action="DeleteOfficer" asp-controller="Admin" asp-route-email="@officer.email"
                                                                                         asp-route-uuid="@officer.uuid" 
                                       class="btn btn-danger btn-sm" onclick="return confirm('Seguro desea elimiar este official?');">Eliminar</a>

                                </td>
                            </tr>


                      
                        } 
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="text-center text-danger">No owners found.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <form>
            <button asp-action="index" asp-controller="admin" type="submit" class="btn btn-primary mt-4">Regresar</button>
        </form>
    </div>
</body>
</html>

@* <script>
    document.getElementById('txtcondo').addEventListener('change', function() {
        var selectedCondo = this.options[this.selectedIndex];
        var count = selectedCondo.getAttribute('data-count');
        var minRange = 1; // Set your minimum range
        var maxRange = count; // Set your maximum range

        document.getElementById('inthouse').addEventListener('input', function() {
            var input = this.value;

            if (input == count) {
                alert('This house number already exists.');
                this.value = '';
            } else if (input < minRange || input > maxRange) {
                alert('House number must be between ' + minRange + ' and ' + maxRange + '.');
                this.value = '';
            }
        });
    });
</script> *@


